<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sign.pcss">
  <title>Document</title>
</head>
<body>
  {{>button/buttonBack}}
  <form class="form">
    <h1 class="form__title">Регистрация</h1>
    {{>input/input name="first_name" type="text" placeholder="Имя" }}
    {{>input/input name="second_name" type="text" placeholder="Фамилия" }}
    {{>input/input name="login" type="password" placeholder="login" }}
    {{>input/input name="email" type="text" placeholder="Email" }}
    {{>input/input name="password" type="password" placeholder="Пароль" }}
    {{>input/input name="phone" type="text" placeholder="Телефон" }}
    {{>button/button link='../profile/profile.hbs' text='Зарегистрироваться' className='form__submit'}}
    {{>button/button link='./sign-in.hbs' text='Войти' className='form__redirect'}}
  </form>
</body>
</html>
