<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sign.pcss">
  <title>Document</title>
</head>
<body>
  {{>button/buttonBack}}
  <form class="form">
    <h1 class="form__title">Авторизация</h1>
    {{>input/input name="login" type="text" placeholder="Логин" }}
    {{>input/input name="password" type="password" placeholder="Пароль" }}
    {{>button/button link='../profile/profile.hbs' text='Войти' className='form__submit'}}
    {{>button/button link='./sign-in.hbs' text='Регистрация' className='form__redirect'}}
  </form>
</body>
</html>