@import url(../../styles/index.pcss);
.error {
  width: 680px;
  margin: 250px auto 0 auto;
}
.error__title {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.error__text {
  font-size: 28px;
  margin: 0 0 40px 0;
  padding: 0;
}
.error__link {

}