<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="./profile.pcss">
    <title>Conect</title>
  </head>
  <body>
    {{>button/buttonBack}}
    <main class='profile'>
      <div class='profile__header'>
        <div class="profile__content-avatar">
          <img src='../../../static/avatar.jpg'alt="ваш аватар" class='profile__avatar'>
        </div>
        <h1 class='profile__name'>Name</h1>
      </div>
      <div class="profile__info">
        {{>profilePoint/profilePoint key="Почта" value="iteterk@gmail.com"}}
        {{>profilePoint/profilePoint key="Логин" value="sjwopi"}}
        {{>profilePoint/profilePoint key="Имя" value="Иван"}}
        {{>profilePoint/profilePoint key="Фамилия" value="Тетерук"}}
        {{>profilePoint/profilePoint key="Имя в чате" value="sjwopi"}}
        {{>profilePoint/profilePoint key="Телефон" value="89876543210"}}
      </div>
      <div class="profile__buttons">
        {{>button/button text="Изменить данные" link="./profileEditData.hbs" className=""}}
        {{>button/button text="Изменить пароль" link="./profileEditPassword.hbs" className=""}}
        {{>button/button text="Выйти" link="../index.hbs" className="profile__out"}}
      </div></main>
  </body>
</html>