<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="./profile.pcss">
    <title>Document</title>
  </head>
  <body>
    {{>button/buttonBack}}
    <main class='profile'>
      <div class='profile__header'>
        <div class="profile__avatar-btn">
          <input class="profile__avatar-input" type="file" value="">
          <img src="../../../static/avatar.jpg" alt="аватарка" class="profile__avatar">
        </div>
        <h1 class='profile__name'>&ensp;</h1>
      </div>
      <div class="profile__info">
        {{>profilePoint/profilePointEdit key="Почта" value="iteterk@gmail.com" type="email" }}
        {{>profilePoint/profilePointEdit key="Логин" value="sjwopi" type="text" }}
        {{>profilePoint/profilePointEdit key="Имя" value="Иван" type="text" }}
        {{>profilePoint/profilePointEdit key="Фамилия" value="Тетерук" type="text" }}
        {{>profilePoint/profilePointEdit key="Имя в чате" value="sjwopi" type="text" }}
        {{>profilePoint/profilePointEdit key="Телефон" value="89876543210" type="text" }}
      </div>
      <div class="profile__buttons">
        {{>button/button text="Сохранить" link="./profile.hbs" className=""}}
        {{>button/button text="Выйти" link="../index.hbs" className="profile__out"}}
      </div>
    </main>
  </body>
</html>