<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="./profile.pcss">
    <title>Document</title>
  </head>
  <body>
    {{>button/buttonBack}}
    <main class='profile'>
      <div class='profile__header'>
        <img src='../../../static/avatar.png'alt="ваш аватар" class='profile__avatar'>
        <h1 class='profile__name'>&ensp;</h1>
      </div>
      <div class="profile__info">
        {{>profilePoint/profilePointEdit key="Старый пароль" value="-" type="password" }}
        {{>profilePoint/profilePointEdit key="Новый пароль" value="-" type="password" }}
        {{>profilePoint/profilePointEdit key="Повторите новый пароль" value="-" type="password" }}
      </div>
      <div class="profile__buttons">
        {{>button/button text="Сохранить" link="./profile.hbs" className=""}}
        {{>button/button text="Выйти" link="../index.hbs" className="profile__out"}}
      </div>
    </main>
  </body>
</html>