<div class="error">
  <h1 class="error__title">{{type}}</h1>
  <p class="error__text">{{text}}</p>
  {{>button/button text="Вернуться на главную" link="/src/pages/index.hbs" className="error__link"}}
</div>