.nav {
  width: 280px;
  height: 650px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  &__item {
    width: 280px;
    height: 60px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 700;
    color: white;
  }
}
